on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

name: check and lint

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@v31
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}-${{ github.job }}
          restore-prefixes-first-match: nix-${{ runner.os }}
          gc-max-store-size-linux: 8G

      - name: Check
        run: nix flake check -L
